# ==========================
# Maven
# ==========================
target/
*.class

# ==========================
# Allure Reports
# ==========================
allure-results/
allure-report/
.allure/

# ==========================
# Test Reports
# ==========================
surefire-reports/
test-output/

# ==========================
# IDE
# ==========================
.vscode/
.idea/
*.iml

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs & Temporary Files
# ==========================
*.log
*.tmp
*.temp

# ==========================
# Environment Secrets
# ==========================
.env
*.properties.local

# ==========================
# Build Artifacts
# ==========================
*.war